*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #dc3545;
    border-radius: 8px;
    margin-top: 50px;
    width: 10px;
    height: 480px;
}
img{
    height: 500px;
}
label{
    margin-left: 10px;
}
